body {
  background-image: url("../img/bet/moneyback.gif");
  background-size: cover;
  width : auto;
}

.br{
  width: 150px;
  height: 150px;
}

.menu .name, .menu .money{
  display: inline-block;
  background: white;
  border: solid;
  border-color: black;
  width: 50%;
  margin: 1% 0;
}
