/* This is a CSS file */
p.gatyahome img{
  width: 350px;
}
/* nameとmoney */
.menu .name, .menu .money{
  display: inline-block;
  background: white;
  border: solid;
  border-color: black;
  width: 50%;
  margin: 1% 0;
}
